@import "../scssColors/_bgColorCollections.scss";
/* @import url(https://fonts.googleapis.com/css?family=Pacifico); */
.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: auto;
    

    .domLinkBar-style{
        display: flex ;
        width:10%;
        background-color:skyblue;
        border:3px solid black;
        border-radius:5px;
    }
    .noteBookArea-style {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        .operationNavbar-style {
            display: flex;
            justify-content: flex-start;
            /* text-align: center; */
            padding:15px 0;
            border-radius:5px;
            background-color:orange;
            width:100%;

            
            p{
             margin: 0 50px;
             border: 3px solid white;
             border-radius: 5px;
             padding: 5px 20px;
             transition: 0.3s
             
            }
            p:hover{
                background-color: white;
                cursor: pointer;
            }
        }
        .showArea-style {
            display: flex;
            justify-content: center;
            background-color: turquoise;
            border-radius: 5px;
            width: auto;
        }
    }
}
