
.link-container{
    padding: 120px 5px 30px 3px;
    text-align: center;
}

.link-style{
    text-decoration: none;
    border: 2px solid orange;
    padding: 10px 23px;
    border-radius: 5px;
    margin-top: 20px;
    color: black;
    transition: .3s;
    
}
.link-style:hover{
    background-color: orange;
}